* {
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #101828;
    margin: 0;
    padding: 0;
}
@import 'header';
@import "campaigns";
@import "whoweare";
@import "carousel";
@import "news";
@import "latestresources";
@import "contact";
@import "footer";